form {
    background-color: rgb(220, 245, 245);
}


.invisible-class{
    visibility: hidden;
    
    
}

.todo-class{
    color: white;
    background-color: #d9534f;
}
.done-class{
    color: white;
    background-color: #5cb85c;
}
